@font-face {
	font-family: 'Poppins Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Regular'), url('../src/Fonts/Poppins-Regular.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Italic'), url('../src/Fonts/Poppins-Italic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Thin';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Thin'), url('../src/Fonts/Poppins-Thin.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Thin Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Thin Italic'), url('../src/Fonts/Poppins-ThinItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins ExtraLight'), url('../src/Fonts/Poppins-ExtraLight.woff') format('woff');
}


@font-face {
	font-family: 'Poppins ExtraLight Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins ExtraLight Italic'), url('../src/Fonts/Poppins-ExtraLightItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Light';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Light'), url('../src/Fonts/Poppins-Light.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Light Italic'), url('../src/Fonts/Poppins-LightItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Medium'), url('../src/Fonts/Poppins-Medium.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Medium Italic'), url('../src/Fonts/Poppins-MediumItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins SemiBold'), url('../src/Fonts/Poppins-SemiBold.woff') format('woff');
}


@font-face {
	font-family: 'Poppins SemiBold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins SemiBold Italic'), url('../src/Fonts/Poppins-SemiBoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Bold'), url('../src/Fonts/Poppins-Bold.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Bold Italic'), url('../src/Fonts/Poppins-BoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins ExtraBold'), url('../src/Fonts/Poppins-ExtraBold.woff') format('woff');
}


@font-face {
	font-family: 'Poppins ExtraBold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins ExtraBold Italic'), url('../src/Fonts/Poppins-ExtraBoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Black';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Black'), url('../src/Fonts/Poppins-Black.woff') format('woff');
}


@font-face {
	font-family: 'Poppins Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Poppins Black Italic'), url('../src/Fonts/Poppins-BlackItalic.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	font-feature-settings: 'ss04' on;
}

:root {
	--brown100: #FAF8EF;
	--brown200: #CDC0B4;
	--brown300: #BBADA1;
	--brown400: #7A7168;
	--block2: #EEE6DB;
	--block4: #ECE0C8;
	--block8: #EFB27C;
	--block16: #F49669;
	--block32: #F37D63;
	--block64: #F46042;
	--block128: #E74A2A;
	--block256: #F2D67A;
	--block512: #F9CE4B;
	--block1024: #F6BC0B;
	--block2048: #E5B318;
}

body {
	background-color: var(--brown100);
}

.container {
	display: flex;
	text-align: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
}

.board {
	background-color: var(--brown300);
	width: 460px;
	height: 460px;
	/* margin: auto; */
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
}

.score-container {
	width: 460px;
	height: 128px;
	text-align: center;
	align-items: center;
}

.score-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	color: var(--brown300);
	cursor: default;
}

.score-value {
	cursor: default;
	display: inline-block;
	font-weight: 700;
	font-size: 84px;
	line-height: 100%;
	text-align: center;
	color: var(--brown400);
}

.buttons-container {
	width: 460px;
	display: flex;
	justify-content: space-between;
}

.new-game,
.rank {
	cursor: pointer;
	display: flex;
	padding: 8px 16px;
	background-color: var(--brown300);
	color: var(--brown100);
	border-radius: 5px;
	margin: 10px 0;
	font-weight: 500;
	font-size: 18px;
	box-sizing: content-box;
	border: none;
}

.rank:hover,
.new-game:hover{
	background-color: var(--brown400);
	color: var(--brown100);
}

.modal {
	position: absolute;
	width: 300px;
	height: 400px;
	background-color: var(--brown200);
	border-radius: 5px;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid var(--brown300);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-container {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: right;
	flex-direction: row;
	padding: 10px 8px;
	box-sizing: border-box;
}

.close-button {
	display: flex;
	text-align: right;
	padding: 5px 15px;
	cursor: pointer;
	background-color: var(--brown300);
	border-radius: 20px;
	color: var(--brown400);
}

.close-button:hover {
	background-color: var(--brown400);
	color: var(--brown200);
}

.rank-board {
	width: 95%;
	height: 84%;
	border-radius: 5px;
}

.rank-title {
	color: var(--brown400);
	height: 50px;
	padding-top: 5px;
}